<% include partials/header %>
		<h1> <%= title %></h1>
	</div>
	<div>
		<h1><a href="/issues"> Raise issues </a></h1>
	</div>
	<div>
		<h1><a href="/allIssues"> View Issues </a></h1>
	</div>
<% include partials/footer %>