<% include partials/header %>
	<div id="case">
		<% if (user != ''){ %>		
			<h1> <%= title %></h1>
			<h2><a href="/issues"> Raise issues </a></h2>
			<h2><a href="/allIssues"> View Issues </a></h2>
		<% }else{ %>
			<h1> You are not logged In!!! </h1>
		<% } %>
	</div>
<% include partials/footer %>