<% include partials/header %>
<div id="case">    
	<br><br><h1> <%= title %></h1><br><br>
	
	<!-- Button trigger modal -->
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
	    Sign In
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
	     aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <!-- Modal Header -->
	            <div class="modal-header">
	                <button type="button" class="close" 
	                   data-dismiss="modal">
	                       <span aria-hidden="true">&times;</span>
	                       <span class="sr-only">Close</span>
	                </button>
	                <h4 class="modal-title" id="myModalLabel">
	                    Sign In
	                </h4>
	            </div>
	            
	            <!-- Modal Body -->
	            <div class="modal-body">
	                
	                <form class="form-horizontal" role="form" method="POST" action="/signIn">
	                  <div class="form-group">
	                    <label  class="col-sm-2 control-label"
	                              for="email">Email</label>
	                    <div class="col-sm-10">
	                        <input type="email" class="form-control" 
	                        name="email" placeholder="Email"/>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="col-sm-2 control-label"
	                          for="password" >Password</label>
	                    <div class="col-sm-10">
	                        <input type="password" class="form-control"
	                            name="password" placeholder="Password"/>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <div class="col-sm-offset-2 col-sm-10">
	                      <div class="checkbox">
	                        <label>
	                            <input type="checkbox"/> Remember me
	                        </label>
	                      </div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <div class="col-sm-offset-2 col-sm-10">
	                      <button type="submit" class="btn btn-default">Sign in</button>
	                    </div>
	                  </div>
	                </form>                                        
	                                
	            </div>
	            
	            <!-- Modal Footer -->
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default"
	                        data-dismiss="modal">
	                            Close
	                </button>
	             </div>
	        </div>
	    </div>
	</div>
</div>
         

<% include partials/footer %>