<% include partials/header %>
	<div>
		<h1> <%= title %></h1>
		<% if ((errors) && (typeof(errors) === "object")){ %>
			<ul>
				<% errors.forEach(function(error){ %>
					<li><%= error.msg %></li>
				<% }) %>
			</ul>
		<% } %>
		<% if ((errors) && (typeof(errors) === "string")){ %>
			<ul>
				<li><%= errors %></li>
			</ul>
		<% } %>

		<form method="post" action="/users/signUp">
			<label>First Name</label><br>
			<input type="text" name="firstName"><br>
			<label>Last Name</label><br>
			<input type="text" name="lastName"><br>
			<label>Email</label><br>
			<input type="email" name="email"><br>
			<label>Password</label><br>
			<input type="password" name="password"><br><br>
			<input type="submit" value="Submit">
		</form>
	</div>
<% include partials/footer %>
