		
#container{
	width:850px;
	height:900px;
	margin:auto;
	padding:auto;
	background-color: rgba(255, 255, 255, 0.5);/*for the white transparent background-color*/
}

#case{
	background-color: white;
	height:1000px; 
	width:900px; 
	margin-left: 300px;
}

#footer{
	background-color:black;
	width:100%; 
	text-align:center;
	color:white;
}
	
		
